    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }
    /*------HEADER-------*/
    
    .header-container {
        width: 100%;
        margin: 0;
        padding: 0;
        background: #F7A100;
        height: 50px;
    }
    
    .menu-container {
        max-width: 984px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    /*------LOGO-------*/
    
    .logo {
        width: 144px;
        position: relative;
        padding: 10px 30px;
        float: left;
    }
    
    .logo img {
        width: 100%;
        height: auto;
        position: relative;
        float: left;
    }
    /*------NAV-BAR-------*/
    
    .menu-item {
        list-style-type: none;
        border-right: 1px solid #DE9000;
        margin: 0;
        margin-right: -1px;
        padding: 0;
        float: right;
    }
    
    .list-item {
        float: left;
        height: 100%;
        margin: 0px;
        padding: 0px auto;
        border-top: none;
        border-left: 1px solid #DE9000;
    }
    
    .menu-item a {
        text-decoration: none;
        display: block;
        padding: 10px 1.5rem;
        color: #fff;
        line-height: 30px;
        background: #F7A100;
        position: relative;
    }
    
    .menu-item a:hover {
        background: rgba(223, 154, 63, 0.829);
    }
    /*------SHOW BOX-------*/
    
    .show-menu {
        text-decoration: none;
        color: #fff;
        background: #F7A100;
        text-align: center;
        padding: 10px 1.5rem;
        font-size: 20px;
        display: none;
        cursor: pointer;
        text-align: -webkit-right;
    }
    
    input[type=checkbox] {
        display: none;
        -webkit-appearance: none;
    }
    
    input[type=checkbox]:checked~#menu {
        display: block;
    }
    /*------MEDIA FOR MAX-WIDTH(850PX)-------*/
    
    @media only screen and (max-width:850px) {
        .menu-item {
            position: static;
            display: block;
            float: none;
        }
        .list-item {
            border-top: 1px solid #DE9000;
        }
        .menu-item .list-item,
        .list-item a {
            width: 100%;
        }
        .show-menu {
            display: block;
            float: right;
        }
    }
    /*------HEADER-------*/
    
    .w-content {
        max-width: 984px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    
    .show-content {
        background-image: url(images/herenhuis-silhouet.svg);
        background-color: rgba(135, 206, 235, 0.25);
        background-repeat: no-repeat;
        margin: 0 auto;
        background-position: 50% 5%;
        overflow: auto;
        background-size: contain;
        clear: both;
    }
    
    .left,
    .p-middle {
        float: left;
    }
    
    .right {
        float: right;
        width: 40%;
        background-repeat: no-repeat no-repeat;
        background-size: auto 100%;
        background-position: left bottom;
    }
    
    .right img {
        max-width: 100%;
        margin-top: 25px;
    }
    
    .left img {
        width: 100%;
        margin-top: 21px;
    }
    
    .p-middle {
        margin: 0;
        font-size: 1.5rem;
        line-height: 8.5vh;
        margin-top: 60px;
        margin-bottom: 28px;
        color: #53241B;
    }
    
    @media only screen and (max-width: 850px) {
        .right {
            width: 38.76%;
        }
    }
    
    @media only screen and (max-width: 850px) {
        .left {
            display: none;
        }
    }
    
    @media only screen and (max-width: 850px) {
        .p-middle {
            display: none;
        }
    }
    /*---------------------------------SEARCH AREIA-------*/
    
    .search-content {
        max-width: 984px;
        margin: 0 auto;
        padding-bottom: 2%;
        padding-top: 1%;
        clear: both;
        display: block;
        position: relative;
        overflow: hidden;
        background: #F7A100;
    }
    
    .search-nav-menu {
        list-style-type: none;
        margin: 0;
        margin-right: -1px;
        padding: 0;
    }
    
    .search-nav-item {
        float: left;
        height: 100%;
        margin: 0px;
        padding: 0px auto;
        border-top: none;
    }
    
    .search-nav-menu a {
        text-decoration: none;
        display: block;
        padding: 10px 1.5rem;
        color: #fff;
        line-height: 30px;
        background: #F7A100;
        position: relative;
        border-left: 1px solid #DE9000;
    }
    
    .search-nav-menu a:hover {
        background: rgba(223, 154, 63, 0.829);
    }
    
    @media only screen and (max-width:850px) {
        .search-nav-menu {
            position: static;
            display: block;
            float: none;
        }
        .search-nav-item:menu {
            border-top: 1px solid #DE9000;
        }
        .search-nav-menu .search-nav-item,
        .search-nav-item a {
            width: 100%;
            border-bottom: 1px solid #DE9000;
        }
    }
    /*---------------------------------SEARCH AREIA2-------*/
    
    .search-nav {
        clear: both;
        width: 100%;
        display: inline-block;
    }
    
    .search [type=text] {
        width: 40%;
        box-sizing: border-box;
        font-size: 16px;
        padding: 6px 6px 6px;
        border: 1px solid #ccc;
        margin-left: 2%;
        float: left;
        height: 40px;
    }
    
    .aria select {
        background: url(images/listicon.png) no-repeat right center;
        background-color: white;
        height: 40px;
        margin: 0;
        width: 10%;
        position: relative;
        border: 1px solid #ccc;
        font-size: 16px;
        padding: 4.96px 4.96px .31em 16px;
        margin-right: 10px;
        float: left;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        display: block;
    }
    
    .from-box select,
    .to-box select {
        background: url(images/listicon.png) no-repeat right center;
        background-color: white;
        width: 15%;
        height: 40px;
        margin: 0;
        margin-right: 7px;
        padding: 4.96px 4.96px .31em 16px;
        position: relative;
        display: block;
        border: 1px solid #ccc;
        font-size: 16px;
        float: left;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
    }
    
    .search-block__submit button {
        display: block;
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        font-size: 16px;
        margin: 0px 0px;
        cursor: pointer;
        background-color: #0071B3;
        float: left;
        height: 40px;
    }
    
    .search input:active {
        border: 2px solid #2e94f9;
    }
    
    @media only screen and (max-width:850px) {
        .search [type=text] {
            width: 70%;
            display: block;
        }
        .aria select {
            width: 25%;
        }
        .from-box select,
        .to-box select {
            width: 46%;
            display: block;
            margin-left: 2%;
            margin-top: 1%;
            margin-bottom: 1%;
        }
        .search-block__submit button {
            width: 46%;
            display: block;
            float: none;
            margin-left: 2.5%;
        }
    }
    
    @media only screen and (max-width:500px) {
        .search-block__submit button {
            width: 95%;
            float: none;
            margin-left: 2.5%;
        }
    }
    
    @media only screen and (max-width:430px) {
        .from-box select,
        .to-box select {
            width: 95%;
            float: none;
            margin-left: 2%;
            margin-bottom: 2%;
            display: inline-block;
        }
        .from-box select {
            margin-top: 2%;
        }
    }
    
    @media only screen and (max-width:340px) {
        .search [type=text] {
            width: 95%;
            display: block;
            float: none;
            margin-left: 2%;
            margin-bottom: 2%;
            margin-left: 2.5%;
        }
        .aria select {
            width: 95%;
            display: block;
            float: none;
            margin-left: 2.5%;
        }
    }
    
    .search-link {
        clear: both;
        max-width: 940px;
        padding: 1%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    
    .search-link a {
        text-decoration: none;
        margin-right: 4%;
        color: blue;
        font-size: 1.1em;
    }
    
    @media only screen and (max-width:500px) {
        .search-link a {
            display: block;
            margin-left: 1%;
        }
    }
    /*-------------------------home-content-------*/
    
    .home-content {
        max-width: 984px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    
    .house-content {
        list-style: none;
        display: inline-block;
        margin: 1%;
    }
    
    .house-img {
        width: 100%;
        padding-right: 10px;
    }
    
    .house-item {
        width: 33.3333%;
        float: left;
    }
    
    .house-price {
        padding-top: 8px;
        font-weight: bold;
    }
    
    .house-street a {
        font-weight: 600;
        text-decoration: none;
    }
    
    h2 {
        font-size: 20px;
        line-height: 28px;
        margin-top: 12px;
        margin-bottom: 15px;
        margin-left: 12px;
    }
    
    @media only screen and (max-width:750px) {
        .house-item3 {
            display: none;
        }
        .house-item1,
        .house-item2 {
            width: 50%;
        }
    }
    
    @media only screen and (max-width:500px) {
        .house-item3,
        .house-item2 {
            display: none;
        }
        .house-item1 {
            width: 100vw;
            margin: auto;
        }
    }
    
    .home-banners a {
        display: block;
        padding: 24px;
        margin: 2%;
        width: 95%;
        text-align: center;
        background-position: center bottom;
        background-repeat: no-repeat;
        text-decoration: none;
        color: white;
    }
    
    .fib-banner {
        background-color: #0071B3;
        background-image: url(images/fib-banner-silhouet.svg);
        background-size: auto calc(100% - 1.5rem);
    }
    
    .fib-banner img {
        width: 20vw;
    }
    
    .fib-banner p,
    .house-banner p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .house-banner {
        background-color: #E6F2F7;
        background-image: url(images/home-banner-background.svg);
    }
    
    .house-banner p {
        color: black;
    }
    
    .house-banner span {
        color: blue;
        border: 1px solid blue;
    }
    
    .button-left {
        border: 1px solid white;
        padding: 10px;
        margin: 0 auto;
        display: block;
        width: 28%;
        font-weight: 39px;
        font-size: calc(1vw + 0vh + 1vmin);
    }
    
    .button-right {
        border: 1px solid white;
        padding: 10px;
        margin: 0 auto;
        display: block;
        width: 23%;
        font-weight: 39px;
        font-size: calc(1vw + 1vh + 0vmin);
    }
    
    @media only screen and (max-width:550px) {
        .button-right {
            width: 31%;
            font-size: calc(1vw + 3vh + 0vmin);
        }
    }
    
    .clear {
        clear: both;
    }
    /*---------------------------------Footer-------*/
    
    .end-footer p {
        border-top: 2px solid white;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
    }